<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Browser Configuration-->
		<!-- Standard Browsers :-->
		<!--    [chrome] - launches the Chrome browser -->
		<!--    [firefox] - launches the Firefox browser -->
		<!--    [ie] - launches the Internet Explorer browser -->
		<!-- Mobile Simulated Browsers :-->
		<!--    [iPhone] - launches the Chrome browser with the options set to simulate an iPhone -->
		<!--    [iPad] - launches the Chrome browser with the options set to simulate an iPad -->
		<!--    [android] - launches the Chrome browser with the options set to simulate an Android Phone -->
		<add key="Browser" value="chrome"/>

	</appSettings>
</configuration>